        * {
            margin: 0;
            padding: 0;
        }

        .body {
            font-family: 'Segoe UI';
        }

        .container {
            margin: auto;
            width: 960px;
            box-shadow: 0px 0px 0px black;
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        .item {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #f9f9f9;
            display: grid;
            grid-template-columns: 1fr;
            padding: 17px;
            justify-items: center;
            row-gap: 25px;
            border-radius: 5px;
        }

        .link {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 5px;
            justify-items: center;
        }

        .link a {
            font-size: 11px;
            color: white;
            font-weight: 550;
            text-decoration: none;
            background-color: #5cb85c;
            padding: 10px 16px;
            border-radius: 6px;
            cursor: pointer;
        }

        .head {
            font-size: 20px;
            font-weight: 600;
        }

        .name {
            font-size: 13px;
        }

        .bottom {
            font-size: 10px;
            cursor: pointer;
        }

        .uid,
        .uid2 {
            font-size: 7px;
            cursor: pointer;
        }

        .navbar {
            background-color: white;
            padding: 15px;
            display: flex;
        }

        .logo {
            text-align: center;
            width: 30vw;
        }

        .link1 {
            width: 55vw;
            height: 60px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: end;
            column-gap: 5px;
        }

        .link1 a {
            color: rgb(84, 82, 82);
            text-decoration: none;
            font-weight: 500;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14.5px;
            padding: 10px;
            box-sizing: border-box;
        }

        .icons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .section {
            color: #222;
            font-family: 'Segoe UI';
            padding: 65px 0px 20px 0px;
            margin: auto;
            display: grid;
            width: 62vw;
            background-color: white;
            grid-template-columns: 1fr;
            align-content: center;
            gap: 45px;
        }

        .download-link {
            text-decoration: none;
            color: white;
            background-color: #00b6d1;
            font-weight: 700;
            border-radius: 5px;
            font-size: 16px;
            padding: 12px 25px 12px 25px;
        }

        .low_text {
            display: grid;
            grid-template-rows: 1fr;
            align-items: center;
        }

        .align {
            display: flex;
            align-items: center;
            text-align: center;
        }

        .align-center {
            display: flex;
            justify-content: center;
        }